.hidden {
    display: none;
}

.container {
    width: 320px;
}

.advantages {
    width: 100vw;
    padding-left: 20px;
    background-color: var(--second-bg-color);
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.advantages-item {
    padding-right: 20px;
    &::before {
        content: " ";
        display: block;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:first-child::before {
        background-image: url(../images/adv1.png);
    }
    &:nth-child(2)::before {
        background-image: url(../images/adv2.png);
    }
    &:nth-child(3)::before {
        background-image: url(../images/adv3.png);
    }
}

.advantages-title {
font-family: 'Titan One';
font-size: 36px;
line-height: 1.14;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 4px;
color: var(--title-color);
}

.advantages-descr {
font-family: 'DM Sans';
font-weight: 700;
font-size: 12px;
line-height: 1.7;
margin: 0;
}