@import '~node_modules/modern-normalize/modern-normalize.css';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}