a,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contacts {
  background-image: linear-gradient(#fafafa 0 25%, #fff5f6 25% 100%);
}

.contacts-container {
  padding-top: 70px;
  padding-bottom: 32px;
  padding-right: 20px;
  padding-left: 20px;
}

.contact-div {
  padding: 40px 32px 41px 32px;
}

.contacts__title {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.contacts-cards {
  padding: 0;
  margin: 0;
}

.contacts-cards__item {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(212, 20, 67, 0.1);
  height: 412px;
  width: 280px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 24px;
}

.contacts-cards__item:last-child {
  margin-bottom: 0px;
}

.contacts-list__place {
  background-color: var(--fourth-bg-color);
  color: var(--white);
  width: 80px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: 'DM Sans';
}

.contacts-list__place--green {
  background-color: var(--fifth-bg-color);
  color: var(--white);
  width: 130px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: 'DM Sans';
  justify-content: center;
}

.contacts-cards__city {
  color: var(--black);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-bottom: 8px;
}

.contacts-cards__text {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 0;
}

.contacts-list {
  margin-top: 24px;
}

.contacts-list__item--grey {
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  width: 216px;
}

.contacts-list__day {
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 0;
  font-family: 'DM Sans';
}

.contacts-list__time {
  color: var(--circle);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: 'DM Sans';
  line-height: 186%;
}

.contacts-list__tel {
  margin-bottom: 8px;
}

.mail,
.tel {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: rgba(243, 33, 191, 0.553);
}

.buttons-contacts {
  padding: 0 78px 78px 40px;
  margin: 0;
}

.buttons-contacts__item {
  margin-bottom: 10px;
  margin-right: 0;
  width: 161px;
  height: 44px;
}

.buttons-contacts__locations {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'DM Sans';
  background-color: #d41342;
  color: var(--white);
  border: transparent;
  cursor: pointer;
}

.buttons-contacts__franchise {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'DM Sans';
  background-color: var(--white);
  color: #d41443;
  border: transparent;
  cursor: pointer;
}

.buttons-contacts__vector {
  margin-left: 8px;
  fill: #ffffff;
}
.franchise {
  fill: #d41443;
}
