.gallery {
    background-image: linear-gradient(to bottom, #FFF5F6 19%, #FAFAFA 19%);

}

.gl {
    width: 100%;
    padding: 0;
    margin: 0 auto;        
    
      
    @include desktop {       
        padding: 0 94px;
    }        

    &__title {
        display: none;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 34px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--title-color);
    }    
}

