.page-header {
  background-color: var(--primary-bg-color);
  height: 416px;
}
.header-hero__container {
  min-width: 320px;
  padding: 0 20px;
  overflow: hidden;
  @include tablet {
    display: flex;
    min-width: 768px;
    height: 416px;
    padding: 0 32px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.header-mobile-menu {
  background-color: transparent;
  border-color: transparent;
  margin-left: 61px;
}

.mobile-menu {
  background-color: #e17992;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.mobile-close-button {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
}
.mobile-button-icon {
  fill: var(--white);
}

.mobile-button-buy {
  display: block;
  width: 209px;
  height: 44px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #d41443;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header-menu-list {
  display: block;
  margin-top: 62px;
}
.header-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}
.mob-menu__link {
  color: var(--white);
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  &:active {
    color: var(--title-color);
  }
}

.hero {
  background-color: var(--primary-bg-color);
  height: 444px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 0;

  @include tablet {
    position: initial;
    width: 768px;
    height: 416px;
    padding-top: 0;
  }
}
.hero__container {
  min-width: 320px;
  padding: 0;
  @include tablet {
    min-width: inherit;
    padding: 0;
  }
}

.hero__title-wrap {
  position: absolute;
  z-index: 1;
  top: 136px;
  @include tablet {
    left: 32px;
    top: 102px;
  }
}
.hero__title {
  display: block;
  width: 218px;
  font-family: 'Titan One';
  @include font(null, 48px, 0.95, 0.04em);
  text-transform: uppercase;
  color: var(--title-color);
  @include tablet {
    @include font(null, 34px, 0.91, 0.04em);
    width: 162px;
    padding-top: 20px;
  }
}
.hero__pretitle {
  display: block;
  font-family: 'Titan One';
  @include font(null, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--white);
  padding: 0;
  @include tablet {
    @include font(null, 22px, 1.14, 0.04em);
  }
}
.hero__list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.hero__btn {
  border-color: transparent;
  border-radius: 20px;
  height: 24px;
}
.hero__btn#products {
  background-color: var(--title-color);
  color: var(--white);
  width: 61.2px;
}
.hero__btn#about {
  background-color: var(--white);
  color: var(--title-color);
  width: 82.8px;
}
.hero__btn-link {
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.25, null);
  display: block;
  align-items: center;
  text-align: center;
}
.circle {
  background-color: var(--circle);
  width: 346px;
  height: 344px;
  position: absolute;
  top: 25px;
  left: 36px;
  border-radius: 50%;
  @include tablet {
    width: 335px;
    height: 333px;
    left: 248px;
    top: 43px;
  }
}
.hero__img-wrap {
  position: absolute;
  top: 34px;
  left: 102px;
  width: 171px;
  height: 410px;
  padding: 0;
  @include tablet {
    left: 322px;
    top: 80px;
    width: 143px;
    height: 336px;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__milk-img-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 152px;
    height: 154px;
    left: 32px;
    top: 246px;
  }
}
.hero__legend-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 114px;
    left: 184px;
    top: 287px;
  }
}
.hero__legend {
  display: block;
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.5, null);
  color: var(--white);
}
.hero__legend-btn {
  display: flex;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  padding: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.hero__legend-icon {
  display: block;
  align-items: center;
  justify-content: center;
  fill: var(--title-color);
}

.hero__counter-list {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 92px;
    right: 32px;
  }
}

.hero__counter-item {
  position: relative;
  z-index: 0;
  margin-right: 8px;
  &:not(:last-child) {
    margin-bottom: 16px;
    display: block;
  }
}
.hero__mini-circle {
  position: absolute;
  z-index: -1;
  top: -4px;
  right: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.hero__couner-title {
  font-family: 'Titan One';
  @include font(null, 28px, 1.14, 0.04em);
  text-align: right;
  text-transform: uppercase;
  color: var(--title-color);
}
.hero__counter-text {
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.25, null);
  text-align: right;
  color: var(--white);
}
.hero__tasty-img-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 190px;
    height: 150px;
    right: 32px;
    top: 265px;
  }
}
