.page-header {
  background-color: #ffb8ca;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.header-mobile-menu {
  background-color: transparent;
  border-color: transparent;
  margin-left: 61px;
}

.mobile-menu {
  background-color: #e17992;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mobile-close-button {
  background-color: transparent;
  border-color: transparent;
  top: 20px;
  right: 20px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.mobile-button-icon {
  fill: var(--white);
}

.mobile-button-buy {
  width: 209px;
  height: 44px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #d41443;
  justify-content: center;
  text-align: center;
  align-items: center;
}
