.page-header {
  background: rgb(253, 187, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 0) 0%,
    rgba(255, 184, 202, 1) 26%
  );
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.header-wrap {
  @media screen and (min-width: $mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header-mobile-menu {
  background-color: transparent;
  border-color: transparent;
  margin-left: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 293px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header-menu-list {
  display: flex;
  margin-left: 128px;
}

.header-menu-link {
  font-family: 'DM Sans', sans-serif;
  @include font(700, 16px, 1.31, null);
  color: var(--white);
  &:hover,
  &:focus {
    color: var(--title-color);
  }
  @mixin transition($tp) {
    transition: color var(--primary-transition-time)
      var(--primary-cubic-function);
  }
}

.header-menu-link.current {
  color: var(--title-color);
}

.header-menu-item:not(:last-child) {
  margin-right: 35px;
}

.mob-btn-buy {
  @media screen and (min-width: $mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    font-family: 'DM Sans', sans-serif;
    @include font(700, 16px, 1.31, null);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--white);
    right: 0;
    margin-left: 32px;
    &:hover,
    &:focus {
      background-color: #e1e1e1;
    }
    @mixin transition($tp) {
      transition: background-color var(--primary-transition-time)
        var(--primary-cubic-function);
    }
  }
  @media screen and (min-width: $desktop) {
    margin-left: auto;
    right: 0;
  }
}

.button-buy-icon {
  top: 19px;
  margin-left: 25px;
}

.mobile-menu {
  background-color: #e17992;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  transition: opacity 350ms linear, visibility 350ms linear;
  
   @media screen and (min-width: $tablet) {
        height: 100%;
        width: 33%;
        right: 0;
        transition: opacity 350ms linear, visibility 350ms linear;
        
    } 
}

.mobile-close-button {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
}
.mobile-button-icon {
  fill: var(--white);
}

.mobile-button-buy {
  display: block;
  width: 209px;
  height: 44px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #d41443;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header-mob-list {
  display: block;
  margin-top: 62px;
}
.header-mob-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}
.mob-menu__link {
  color: var(--white);
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  &:active {
    color: var(--title-color);
  }
}

.mob-menu__link.current {
  color: var(--title-color);
}

.hero {
  background-color: var(--primary-bg-color);
  width: 100%;
  // padding: 25px 20px 0 20px;
}
.hero__container {
  padding-top: 25px;
  margin: 0 auto;
  height: 502px;
  position: relative;
  overflow: hidden;
  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
    height: 416px;
    padding-top: 43px;
  }
  @include desktop {
    background-color: var(--primary-bg-color);
    width: 1200px;
    height: 664px;
    // padding: 54px 16px 0 16px;
    padding-top: 54px;
  }
}

.hero__title-wrap {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 194px;
  @include tablet {
    left: 32px;
    top: 102px;
  }
  @include desktop {
    left: 16px;
    top: 147px;
  }
}
.hero__title {
  display: block;
  width: 218px;
  font-family: 'Titan One';
  @include font(null, 48px, 0.95, 0.04em);
  text-transform: uppercase;
  color: var(--title-color);
  @include tablet {
    @include font(null, 34px, 0.91, 0.04em);
    width: 162px;
  }
  @include desktop {
    @include font(null, 58px, 0.9, 0.04em);
    width: 277px;
  }
}
.hero__title-animation {
  animation: tada;
  animation-duration: 3000ms;
}

.hero__pretitle {
  display: block;
  font-family: 'Titan One';
  @include font(null, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--white);
  padding: 0;
  @include tablet {
    @include font(null, 22px, 1.14, 0.04em);
  }
  @include desktop {
    @include font(null, 38px, 1.16, null);
  }
}
.hero__list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  @include desktop {
    margin-top: 24px;
  }
}
.hero__item {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.25, null);
  @include transition(background-color);
  @include desktop {
    height: 40px;
    @include font(null, 14px, 1.29, null);
    padding-top: 11px;
    padding-bottom: 11px;
  }
  &:not(:last-child) {
    margin-right: 8px;
    @include desktop {
      margin-right: 12px;
    }
  }
}
.hero__item#products {
  background-color: var(--title-color);
  color: var(--white);
  width: 61.2px;
  &:hover,
  &:focus {
    background-color: var(--circle);
  }
  @include desktop {
    width: 107px;
  }
}
.hero__item#about {
  background-color: var(--white);
  color: var(--title-color);
  width: 82.8px;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @include desktop {
    width: 138px;
  }
}
.circle {
  background-color: var(--circle);
  width: 346px;
  height: 344px;
  position: absolute;
  left: 36px;
  top: 83px;
  border-radius: 50%;
  @include tablet {
    width: 335px;
    height: 333px;
    left: 248px;
    top: 43px;
  }
  @include desktop {
    width: 534px;
    height: 534px;
    left: 517px;
    top: 54px;
  }
}
.hero__img-wrap {
  position: absolute;

  left: 117px;
  top: 92px;
  width: 171px;
  height: 410px;
  padding: 0;
  @include tablet {
    left: 322px;
    top: 80px;
    width: 143px;
    height: 336px;
  }
  @include desktop {
    width: 236px;
    height: 557px;
    left: 636px;
    top: 108px;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__milk-img-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 152px;
    height: 154px;
    left: 32px;
    top: 246px;
  }
  @include desktop {
    width: 213px;
    height: 216px;
    left: 16px;
    top: 388px;
  }
}
.hero__legend-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 114px;
    left: 184px;
    top: 287px;
  }
  @include desktop {
    width: 200px;
    left: 229px;
    top: 456px;
  }
}
.hero__legend {
  display: block;
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.5, null);
  color: var(--white);
  @include desktop {
    @include font(null, 14px, 1.29, null);
  }
}
.hero__legend-btn {
  display: flex;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  padding: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  @include transition(background-color);
  @include desktop {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.hero__legend-icon {
  display: block;
  align-items: center;
  justify-content: center;
  fill: var(--title-color);
  @include desktop {
    width: 13px;
    height: 13px;
  }
}

.hero__counter-list {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 92px;
    right: 32px;
  }
  @include desktop {
    top: 152px;
    right: 16px;
  }
}

.hero__counter-item {
  position: relative;
  z-index: 0;
  margin-right: 8px;
  @include desktop {
    margin-right: 18px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
    display: block;
    @include desktop {
      margin-bottom: 26px;
    }
  }
}
.hero__mini-circle {
  position: absolute;
  z-index: -1;
  top: -4px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--white);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  @include desktop {
    width: 30px;
    height: 30px;
  }
}
.hero__couner-title {
  font-family: 'Titan One';
  @include font(null, 28px, 1.14, 0.04em);
  text-align: right;
  text-transform: uppercase;
  color: var(--title-color);
  @include desktop {
    @include font(null, 46px, 1.15, null);
  }
}
.hero__counter-text {
  font-family: 'DM Sans', sans-serif;
  @include font(null, 8px, 1.25, null);
  text-align: right;
  color: var(--white);
  @include desktop {
    @include font(null, 14px, 1.29, null);
  }
}
.hero__tasty-img-wrap {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    width: 190px;
    height: 150px;
    right: 32px;
    top: 265px;
  }
  @include desktop {
    width: 304px;
    height: 241px;
    right: 16px;
    top: 423px;
  }
}

