:root {
    --primary-bg-color: #FFB8CA;
    --second-bg-color: #FFF5F6;
    --third-bg-color: #E5E5E5;
    --fourth-bg-color: #F0D1A5;
    --fifth-bg-color: #C2E297;
    --title-color: #D41443;
    --white: #ffffff;
    --black: #000000;
    --text-color: #907E82;
}