@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
:root {
  --primary-bg-color: #FFB8CA;
  --second-bg-color: #FFF5F6;
  --third-bg-color: #E5E5E5;
  --fourth-bg-color: #F0D1A5;
  --fifth-bg-color: #C2E297;
  --title-color: #D41443;
  --white: #ffffff;
  --black: #000000;
  --text-color: #907E82;
  --circle: #FFA5BA;
  --bg-mobile: #E17992;
  --ft-icons: #FEA5BB;
}

a,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contacts {
  background-image: linear-gradient(#fafafa 0 25%, #fff5f6 25% 100%);
}

.contacts__title {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.contacts-container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .contacts-container {
    width: 320px;
  }
}

.contacts-div {
  padding: 40px 32px 40px 32px;
}

.contacts-cards__item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  height: 412px;
  width: 280px;
  border-radius: 24px;
  margin-bottom: 10px;
}

.contacts-cards__item:last-child {
  margin-bottom: 32px;
}

.contacts-list__place {
  background-color: var(--fourth-bg-color);
  color: #ffffff;
  width: 80px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: "DM Sans";
  margin: 0;
}

.contacts-list__place--green {
  background-color: var(--fifth-bg-color);
  color: var(--white);
  width: 130px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: "DM Sans";
  justify-content: center;
  margin: 0;
}

.contacts-cards__city {
  color: var(--black);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-cards__text {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
}

.contacts-list {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(225, 225, 225);
  width: 216px;
}

.contacts-list-firstpart {
  padding-top: 20px;
}

.contacts-list-tel {
  padding-top: 24px;
  padding-bottom: 40px;
  border-bottom: none;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-list__day {
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 0;
  font-family: "DM Sans";
}

.contacts-list__time {
  color: #ffa5ba;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  font-family: "DM Sans";
  line-height: 186%;
}

.mail,
.tel {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: rgba(243, 33, 191, 0.553);
}

.contacts-list-tel {
  padding-bottom: 40px;
}

.buttons-contacts {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 22px;
}
@media screen and (min-width: 320px) {
  .buttons-contacts {
    width: 320px;
  }
}

.buttons-contacts__item {
  margin: 0;
  width: 161px;
  height: 44px;
}

.buttons-contacts__locations {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  font-family: "DM Sans";
  background-color: #d41342;
  color: var(--white);
  border: transparent;
  cursor: pointer;
}

.buttons-contacts__franchise {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  font-family: "DM Sans";
  background-color: var(--white);
  color: #d41443;
  border: transparent;
  cursor: pointer;
}

.buttons-contacts__vector {
  margin-left: 8px;
  fill: var(--white);
}

.franchise {
  fill: #d41443;

.footer {
  padding-top: 40px;
  padding-bottom: 3px;
  background: #FFF5F6;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #FFA5BA;
}

.footer__text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-top: 16px;
}

.social__container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.social__container::after {
  content: "";
  border: 1px solid #E1E1E1;
  width: 100vw;
  margin: 0 -20px;
}

.social__list {
  display: flex;
}

.social__item {
  width: 32px;
  height: 32px;
}
.social__item:not(:last-child) {
  margin-right: 28.24px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #FEA5BB;
}

.footer__address {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-address__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
  margin-right: 3px;
}

.footer-tel__link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  color: #D41443;
}

.end__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
  margin-top: 16px;
  }

.gl {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #FFF5F6 19%, #FFFFFF 19%);
}
.gl__title {
  display: none;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--title-color);
}
