<section class="about" id="about-id">
    <div class="container">
        <div class="about__top">
            <p class="about__subtitle">tradition and love</p>
            <h2 class="about__title">how it’s made?</h2>
        </div>
        <div class="about__wrapper">
            <picture>
                <source srcset="images/milk.png 1x, images/milk@2x.png 2x" type="image/png" />

                <img class="about__milk-l" src="./images/milk.png" alt="milk">
            </picture>


            <div class="about__image">
                <picture>
                    <source srcset="images/milka.png 1x, images/milka@2x.png 2x" type="image/png" />

                    <img class="about__img" src="./images/milka.png" width="501" height="501" alt="cow" />

                </picture>
            </div>

            <div class="about__content">
                <div class="about__text">


                    <p>
                        In the manufacture of our products, we use only 100% organically natural milk.
                        With your health in mind, we don’t add sugar to our products.

                    </p>
                    <picture>
                        <source srcset="images/milk-s.png 1x, images/milk-s@2x.png 2x" type="image/png" />

                        <img class="about__milk" src="./images/milk-s.png" height="133" alt="milk">

                    </picture>
                    <p>
                        All fruits we use for our milkshakes come from the same farm as the milk, so you don't have to
                        worry about
                        the freshness and naturalness of the products..
                    </p>


                </div>
                <div class="about__read-more">
                    <button class="about__btn" type="button">
                        Read more
                        <svg class="about__icon" width="8" height="10" viewBox="0 0 8 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.6164 1L6.04407 5L1.6164 9" stroke="#D41443" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                </div>
            </div>
</section>

