<section class="advantages">
    <div class="container">
        <h1 class="hidden">Advantages</h1>
        <ul class="advantages-list">
            <li class="advantages-item first">
                <p class="advantages-title">721</p>
                <p class="advantages-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item second">
                <p class="advantages-title">16kg</p>
                <p class="advantages-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item third">
                <p class="advantages-title">84</p>
                <p class="advantages-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>