<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-item">
                <svg>
                    <use href="../"></use>
                </svg>
                <p class="advantages-title">721</p>
                <p class="advantages-descr"></p>
            </li>
            <li class="advantages-item">
                <svg>
                    <use href=""></use>
                </svg>
                <p class="advantages-title">16kg</p>
                <p class="advantages-descr"></p>
            </li>
            <li class="advantages-item">
                <svg>
                    <use href=""></use>
                </svg>
                <p class="advantages-title">84</p>
                <p class="advantages-descr"></p>
            </li>
        </ul>
    </div>
</section>