<section class="contacts" id="contacts-id">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts-container">
    <ul class="contacts-cards">
      <li class="contacts-cards__item">
        <div class="contacts-div">
          <p class="contacts-list__place">CAFE</p>
          <ul class="contacts-list contacts-list-firstpart">
            <li class="contacts-list__item">
              <p class="contacts-cards__city">Chicago</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-cards__text">
                Our menu also includes vegan ice cream
              </p>
            </li>
          </ul>
          <ul class="contacts-list">
            <li class="contacts-list__item">
              <p class="contacts-list__day">Monday - Friday</p>
              <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-list__day">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-list contacts-list-tel">
            <li class="contacts-list__tel">
              <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-list__mail">
              <a href="mailto:noreply@envato.com" class="mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-cards__item">
        <div class="contacts-div">
          <p class="contacts-list__place--green">FOODTRUCK</p>
          <ul class="contacts-list contacts-list-firstpart">
            <li class="contacts-list__item">
              <p class="contacts-cards__city">Los Angeles</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-cards__text">
                We also offer deliveries for larger events
              </p>
            </li>
          </ul>
          <ul class="contacts-list">
            <li class="contacts-list__item">
              <p class="contacts-list__day">Monday - Friday</p>
              <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-list__day">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-lists contacts-list-tel">
            <li class="contacts-list__tel">
              <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-list__mail">
              <a href="mailto:noreply@envato.com" class="mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-cards__item">
        <div class="contacts-div">
          <p class="contacts-list__place">CAFE</p>
          <ul class="contacts-list contacts-list-firstpart">
            <li class="contacts-list__item">
              <p class="contacts-cards__city">New York</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-cards__text">
                Every day we prepare new flavors from natural ingredients
              </p>
            </li>
          </ul>
          <ul class="contacts-list">
            <li class="contacts-list__item">
              <p class="contacts-list__day">Monday - Friday</p>
              <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__item">
              <p class="contacts-list__day">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-list contacts-list-tel">
            <li class="contacts-list__tel">
              <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-list__mail">
              <a href="mailto:noreply@envato.com" class="mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="buttons-contacts">
      <li class="buttons-contacts__item">
        <button class="buttons-contacts__locations">
          Our Locations
          <svg class="buttons-contacts__vector" width="10px" height="8px">
            <use href="/src/images/image.svg#icon-arrow-footer"></use>
          </svg>
        </button>
      </li>
      <li class="buttons-contacts__item">
        <button class="buttons-contacts__franchise">
          Franchise
          <svg
            class="buttons-contacts__vector franchise"
            width="10px"
            height="8px"
          >
            <use href="/src/images/image.svg#icon-arrow-footer"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
