<section class="contacts" id="contacts-id">
  <div class="container">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts-cards">
      <li class="contacts-cards__item">
        <p class="contacts-list__place">CAFE</p>
        <div class="contacts-list contacts-list-firstpart">
          <h3 class="contacts-list__item contacts-cards__city">Chicago</h3>
          <p class="contacts-list__item contacts-cards__text">
            Every day we prepare new flavors from natural ingredients
          </p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__item">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list contacts-list-tel">
          <li class="contacts-list__tel">
            <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__mail">
            <a href="mailto:noreply@envato.com" class="mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <p class="contacts-list__place--green">FOODTRUCK</p>
        <div class="contacts-list contacts-list-firstpart">
          <h3 class="contacts-list__item contacts-cards__city">Los Angeles</h3>
          <p class="contacts-list__item contacts-cards__text">
            Every day we prepare new flavors from natural ingredients
          </p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__item">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-lists contacts-list-tel">
          <li class="contacts-list__tel">
            <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__mail">
            <a href="mailto:noreply@envato.com" class="mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <p class="contacts-list__place">CAFE</p>
        <div class="contacts-list contacts-list-firstpart">
          <h3 class="contacts-list__item contacts-cards__city">New York</h3>
          <p class="contacts-list__item contacts-cards__text">
            Every day we prepare new flavors from natural ingredients
          </p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__item">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list contacts-list-tel">
          <li class="contacts-list__tel">
            <a href="tel:+610383766284" class="tel">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__mail">
            <a href="mailto:noreply@envato.com" class="mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="buttons-div">
      <ul class="buttons-contacts">
        <li class="buttons-contacts__item">
          <button class="buttons-contacts__locations">
            Our Locations
            <svg class="buttons-contacts__vector" width="10px" height="8px">
              <use href="/src/images/image.svg#icon-arrow-footer"></use>
            </svg>
          </button>
        </li>
        <li class="buttons-contacts__item">
          <button class="buttons-contacts__franchise">
            Franchise
            <svg
              class="buttons-contacts__vector franchise"
              width="10px"
              height="8px"
            >
              <use href="/src/images/image.svg#icon-arrow-footer"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
