<section class="customer-reviews">
  <h2 class="visually-hidden customer-reviews-title">Reviews</h2>
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="list slider swiper-wrapper">
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="
                images/nazar-reviews.png    1x,
                images/nazar-reviews@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/nazar-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              When I first tasted this ice cream, I got goosebumps from the
              pronounced taste=)))
            </p>
          </div>
          <div class="slider__dots"></div>
          <p class="slider__location">Nazar, Ericeira</p>
        </li>
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="
                images/maria-reviews.png    1x,
                images/maria-reviews@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/maria-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              This is the best ice cream, I have ever eaten!) Immediately
              remembered the taste of childhood:)
            </p>
          </div>
          <div class="slider__dots"></div>

          <p class="slider__location">Maria, Lviv</p>
        </li>
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="images/anna-reviews.png 1x, images/anna-reviews@2x.png 2x"
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/anna-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              The impression of this strawberry-flavored ice cream simply amazed
              me, I have never tried such ice cream before. VERY TASTY!
            </p>
          </div>
          <a href="" class="read-more"><div class="slider__dots"></div></a>

          <p class="slider__location">Anna, Ternopil</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
