<section class="customer-reviews">
  <h2 class="visually-hidden customer-reviews-title">Reviews</h2>
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="list slider swiper-wrapper">
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="
                images/emily-reviews.png    1x,
                images/emily-reviews@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/emily-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="slider__dots"></div>
          <p class="slider__location">Emily, Los Angeles</p>
        </li>
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="
                images/erica-reviews.png    1x,
                images/erica-reviews@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/erica-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="slider__dots"></div>

          <p class="slider__location">Erica, Lisbon</p>
        </li>
        <li class="slider__item swiper-slide">
          <picture>
            <source
              srcset="images/lua-reviews.png 1x, images/lua-reviews@2x.png 2x"
              type="image/png"
            />

            <img
              class="slider__img"
              src="images/lua-reviews.png"
              alt="image-reviews"
              width="85"
              height="85"
            />
          </picture>

          <div class="slider__content">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <a href="" class="read-more"><div class="slider__dots"></div></a>

          <p class="slider__location">Lua, Paris</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
