<footer class="footer">
    <div class="container">
        <div class="footer-line__container">
        <div class="pre-title__container">
    <h2 class="footer__title">
        homemade ice cream <br>made
    </h2>
    <p class="footer__text">
        with <br>passion
    </p>
</div>
<div class="social__container">
    <ul class="social__list list">
    <li class="social__item">
        <a href="" class="social__link link">
        <svg class="social__icon" width="18.82" height="18.82">
            <use href="./images/image.svg#icon-github"></use>
        </svg>
    </a>
    </li>
    <li class="social__item">
        <a href="" class="social__link link">
        <svg class="social__icon" width="19.2" height="14.93">
            <use href="./images/image.svg#icon-telegram"></use>
        </svg>
    </a>
    </li>
    <li class="social__item">
        <a href="" class="social__link link">
        <svg class="social__icon" width="8.8" height="19.2">
            <use href="./images/image.svg#icon-facebook"></use>
        </svg>
    </a>
    </li>
    </ul>
    <address class="footer__address">
    <p class="footer-address__text">Feel free to contact</p>
    <a href="tel:+61(0)383766284" class="footer-tel__link link">+61 (0) 383 766 284</a>
</address>
</div>
</div>
</div>
</footer>