<div class="container gl">
    <h2 class="gl__title">Gallery</h2>
    <div class="gallery">
        <figure class="gallery__item item--1">
            <img src="images/home-pic1.jpg" alt="мороженое на подносе" class="gallery__img">
        </figure>
        <figure class="gallery__item item--2">
            <img src="images/home-pic2.jpg" alt="рожок мороженого в руке" class="gallery__img">
        </figure>
        <figure class="gallery__item item--3">
            <img src="images/home-pic3.jpg" alt="малиновое мороженое" class="gallery__img">
        </figure>
        <figure class="gallery__item item--4">
            <img src="images/home-pic4.jpg" alt="мороженое  цветами" class="gallery__img">
        </figure>
        <figure class="gallery__item item--5">
            <img src="images/home-pic5.jpg" alt="девушка мороженым" class="gallery__img">
        </figure>
        <figure class="gallery__item item--6">
            <img src="images/home-pic6.jpg" alt="мороженое в стакане" class="gallery__img">
        </figure>
        <figure class="gallery__item item--7">
            <img src="images/home-pic7.jpg" alt="мороженое на улице" class="gallery__img">
        </figure>
        <figure class="gallery__item item--8">
            <img src="images/home-pic8.jpg" alt="собака ест мороженое" class="gallery__img">
        </figure>
        <figure class="gallery__item item--9">
            <img src="images/home-pic9.jpg" alt="молочный коктейль" class="gallery__img">
        </figure>
        <figure class="gallery__item item--10">
            <img src="images/home-pic10.jpg" alt="молочный коктейль" class="gallery__img">
        </figure>   
            
        
    </div>
</div>