<section class="gallery">
    <div class=" gl">
        <h2 class="gl__title">Gallery</h2>
        <picture class="gl__image">
            <source srcset="./images/gallery.png 1x, 
            ./images/gallery2x.png 2x" 
            media="(min-width: 1200px)" 
            />            
            <source srcset="./images/gallery-tab.png 1x, 
            ./images/gallery-tab2x.png 2x" 
            media="(min-width: 768px)" 
            />
            <source srcset="./images/gallery-desk.png 1x, 
            ./images/gallery-desk2x.png 2x" 
            media="(min-width: 768px)" 
            />
            <img src="./images/gallery.png" alt="ice cream pictures" width="320">
        </picture>
         
    </div>
    </div>
</section>
