<section class="gallery">
    <div class="gl">
        <h2 class="gl__title">Gallery</h2>
        <div class="gl__pictures">
            <div class="first-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic1-desk.jpg 1x, 
                    ./images/home-pic1-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic1-tab.jpg 1x, 
                    ./images/home-pic1-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic1.jpg 1x, 
                    ./images/home-pic1-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic1-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
            <div class="second-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic2-desk.jpg 1x, 
                    ./images/home-pic2-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic2-tab.jpg 1x,
                    ./images/home-pic2-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic2.jpg 1x, 
                    ./images/home-pic2-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic2-desk.jpg" alt="ice-cream" width="45">
                </picture>
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic3-desk.jpg 1x, 
                    ./images/home-pic3-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic3-tab.jpg 1x, 
                    ./images/home-pic3-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic3.jpg 1x, 
                    ./images/home-pic3-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic3-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
            <div class="third-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic4-desk.jpg 1x, 
                    ./images/home-pic4-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic4-tab.jpg 1x, 
                    ./images/home-pic4-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic4.jpg 1x, 
                    ./images/home-pic4-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic4-desk.jpg" alt="ice-cream" width="45">
                </picture>
                <picture class="gallery__img pic5" data-aos="zoom-out">
                    <source srcset="./images/home-pic5-desk.jpg 1x, 
                    ./images/home-pic5-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic5-tab.jpg 1x, 
                    ./images/home-pic5-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic5.jpg 1x, 
                    ./images/home-pic5-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic5-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
            <div class="fourth-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic6-desk.jpg 1x, 
                    ./images/home-pic6-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic6-tab.jpg 1x, 
                    ./images/home-pic6-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic6.jpg 1x, 
                    ./images/home-pic6-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic6-desk.jpg" alt="ice-cream" width="45">
                </picture>
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic7-desk.jpg 1x, 
                    ./images/home-pic7-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic7-tab.jpg 1x, 
                    ./images/home-pic7-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic7.jpg 1x, 
                    ./images/home-pic7-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic7-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
            <div class="fifth-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic8-desk.jpg 1x, 
                    ./images/home-pic8-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic8-tab.jpg 1x, 
                    ./images/home-pic8-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic8.jpg 1x, 
                    ./images/home-pic8-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic8-desk.jpg" alt="ice-cream" width="45">
                </picture>
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic9-desk.jpg 1x, 
                    ./images/home-pic9-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic9-tab.jpg 1x, 
                    ./images/home-pic9-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic9.jpg 1x, 
                    ./images/home-pic9-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic9-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
            <div class="sixth-column">
                <picture class="gallery__img" data-aos="zoom-out">
                    <source srcset="./images/home-pic10-desk.jpg 1x, 
                    ./images/home-pic10-desk2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/home-pic10-tab.jpg 1x, 
                    ./images/home-pic10-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/home-pic10.jpg 1x, 
                    ./images/home-pic10-2x.jpg 2x" media="(min-width: 320px)" />
                    <img class="border" src="images/home-pic10-desk.jpg" alt="ice-cream" width="45">
                </picture>
            </div>
        </div>
    </div>
</section>

