<header class="page-header container">
  <nav class="header-nav">
    <a href="index.html" class="header-logo">
      <svg class="header-logo-icon" width="199" height="50">
        <use href="./images/image.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="header-mobile-menu">
      <svg class="header-mobile-button" width="20" height="12">
        <use href="./images/image.svg#icon-burger"></use>
      </svg>
    </button>
  </nav>
  <div class="mobile-menu is-hidden">
    <button type="button" class="mobile-close-button">
      <svg class="mobile-button-icon" width="14" heigth="14">
        <use href="./images/image.svg#icon-close"></use>
      </svg>
    </button>
    <button class="mobile-button-buy">Buy now ></button>
    <ul class="header-menu-list">
      <li class="header-menu-item">Home</li>
      <li class="header-menu-item">About us</li>
      <li class="header-menu-item">How it's made?</li>
      <li class="header-menu-item">Our products</li>
      <li class="header-menu-item">Contact</li>
    </ul>
  </div>
</header>
